name: Build Admin Source

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: node:14
    services:
      docker-dind:
        image: docker:19.03.15-dind
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Client
        shell: bash
        id: build-admin
        run: |
          npm install
          npm run lint:check
